body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.title {
	font-size: 3em;
	text-align: center;
	margin: 1em auto;
	font-family: 'Amatic SC', cursive;
}

.container {
	background-image: url("../images/tools-image.jpg");
	background-repeat: repeat-x;
	width: 600px;
	height: 600px;
	margin: 2em auto;
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	padding: 2em 2em;
	border-radius: 1.5em;
	box-sizing: border-box;
}

.question-title {
	margin: 1em auto;
	font-size: 3em;
}

.question-options {
	margin: 1em auto;
	list-style-type: none;
}

.question-options > li {
	border: 0.5px solid #000;
}

li:hover {
	
}