/* Gray Color- #B0B0B0 */

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.title {
	font-size: 3em;
	text-align: center;
	margin: 1em auto;
	font-family: 'Amatic SC',
	 cursive;
	color: #66CCFF;
}

.container {
	background-image: url("../images/tools-image.jpg");
	background-repeat: repeat-x;
	width: 600px;
	height: 600px;
	margin: 2em auto;
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	padding: 2em 2em;
	border-radius: 1.5em;
	box-sizing: border-box;
}

.question-title {
	margin: 1em auto;
	font-size: 3em;
	color: #66CCFF;
}

.question-options {
	margin: 1em auto;
	list-style-type: none;
}

.question-options > li {
	border: 0.5px solid #000;
	margin-bottom: 1.2em;
	padding: 1.1em 1em;
	border-radius: 1.3em;
	margin-right: 1.2em;
	margin-left: 1.2em;
}

li:hover {
	border: 1px solid #B0B0B0;
	background-color: #66CCFF;
	color: #FFF;
}