/* Gray Color- #B0B0B0 */

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #F7F7F7;
}

/* --- Title for QuizApp --- */

.title {
	font-size: 4rem;
	text-align: center;
	margin: 0.5em auto;
	font-family: 'Amatic SC',
	 cursive;
	color: #66CCFF;
	text-shadow: 2px 1px #B0B0B0;
}

/* --- Container that houses Q&As --- */

.container {
	background-image: url("../images/tools-image.jpg");
	background-repeat: repeat-x;
	width: 600px;
	height: 600px;
	margin: 1em auto;
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	padding: 2em 2em;
	border-radius: 1.5em;
	box-sizing: border-box;
	box-shadow: 3px 3px 5px 6px #ccc;
}

/* --- Star System that keeps score of user --- */

.score-icons {
	color: #66CCFF;
}

.number-score {
	color: #66CCFF;
}

/* --- Question --- */

.question-title {
	margin: 0.1em auto;
	font-size: 3em;
	color: #66CCFF;
	text-shadow: 2px 1px #B0B0B0;
}

/* --- 5 Answers --- */

.question-options {
	margin: 1em auto;
	list-style-type: none;
	text-transform: uppercase;
}

.question-options > li {
	border: 0.5px solid #FFF;
	margin-bottom: 1.2em;
	padding: 0.4em 1em;
	border-radius: 1.3em;
	margin-right: 1.2em;
	margin-left: 1.2em;
	font-size: 1.6rem;
	background-color: #F7F7F7;
	color: #B0B0B0;
}

li:hover {
	border: 1px solid #F7F7F7;
	background-color: #66CCFF;
	color: #FFF;
}


pre {
    text-align: left;
    font-family: "Fira Mono", monospace;
    font-size: 30px;
    color: #d0d0d0;
    position: absolute;
    top: -30px;
    left: -50px;
    z-index: -1;
    pointer-events: none;
    opacity: 0.4;
}